parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
    authenticator: UserClass
    router: App\Router\RouterFactory::createRouter
    BaseModel:
        class: BaseModel
    CompModel:
        class: CompModel
    CatModel:
            class: CatModel
    RacerModel:
        class: RacerModel
    ResultModel:
        class: ResultModel
    UserModel:
        class: UserModel
    ArticleModel:
        class: ArticleModel
