{block content}

{var $i = 1}
<table class="table table-hover border text-center">
  <thead class="bg-warning">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Jméno</th>
    <th scope="col">Rok Narození</th>
    <th scope="col">Oddíl / Sponzor</th>
    <th scope="col">Závody</th>
    <th scope="col" class="text-center">Úpravy</th>
    <th scope="col" colspan="2">Předregistrace</th>
  </tr>
  </thead>
  <tbody>
  {foreach $racers as $r}
  <tr>
    {var $comp}
    {foreach $compModel->getPreregistredCompsName($r->id_racer) as $n} {var $comp .= $n->name}{if !$iterator->isLast()} {var $comp .= ', '}{/if}{/foreach}
    <th scope="row" class="align-middle">{$i++}</th>
    <td class="align-middle">{$r->first_name} {$r->last_name}</td>
    <td class="align-middle">{$r->born}</td>
    <td class="align-middle">{if empty($r->club)}<span class="text-danger text-bold h5" >X</span>{else}{$r->club}{/if}</td>
    <td class="align-middle" title="{$comp}">{$comp|truncate:40}</td>
    <td class="align-middle">
      <a href="{plink Administration:newRacer $r->id_racer}" class="btn" title="upravit">
        <i class="fas fa-pencil-alt fa-sm"></i>
      </a>
      <a href="{plink deleteItem! type=>'RacerModel', entity_id=>$r->id_racer}" title="smazat" class="btn">
        <i class="fa fa-trash fa-sm"></i>
      </a>
    </td>
    <td class="align-middle">
      {if $compModel->getCompForRegister($r->id_racer) || $compModel->getPreregistredCompsName($r->id_racer)}
      <a href="{plink Administration:preRegistration id=>$r->id_racer}" class="btn btn-warning text-dark">předregistrovat</a>
      {else}
        Žádný závod k přeregistraci
      {/if}
    </td>
  </tr>
  {/foreach}
  </tbody>
</table>
