
.frontPage {
  background: url("/images/front1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;

  -moz-background-size: cover;
  -webkit-background-size: cover;


  article {
    border-radius: 20px;
    background: rgba(238,238,238, 0.5) !important;
    width: 100%;
  }

  article .text {
    text-align: center;
    font-size: 35px;
    font-family: Optima;
    color: black;
    font-weight: 400;

    .name {
      font-size: 50px;
      letter-spacing: 3px;
    }
  }
}

