{block content}


<div class="text">
  <p><br><br>
    <span class="name">
      Vítejte
    </span>
    <br>
    <br>
    <br>
    Bozala.cz - Pomocník pro správu malých lezeckých závodů.
  </p>
</div>





